node_modules/
docs/.vitepress/dist
docs/.vitepress/cache
.idea/
code/miniMaster/.env
code/miniMaster/.gitignore
code/miniMaster/.idea/
code/miniMaster/workspace/
.env
.node_modules/
.claude

/.jbeval/
.DS_Store
CLAUDE.md